body {
    background-color: antiquewhite;
}

#form {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 250px;
    border: 1px solid grey;
    border-radius: 3%;
    padding: 1rem;
    background-color: #d3d3d3;
}

#darkMode {
    margin: 1rem;
}

section, header {
    display: flex;
    justify-content: center;
}

